html {
  --scrollbarBG: grey;
  --thumbBG: #003366;
}
body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  /* background-color: black; */
  color: white;
  font-family: "Pragati Narrow", sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
}

canvas {
  /* margin: 20px; */
  /* left: 10%; */
  width: 218vh;
  margin-left: -10vh;
  padding: -10vh;
  height: 200vh;
  /* text-align: center; */
  /* border-style: solid;
  border-color: burlywood; */
  
}

.diagram{
  width: 100%;
  height: 100%;
}
