html {
  --scrollbarBG: grey;
  --thumbBG: #003366;
}
body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  background-color: black;
  color: white;
  font-family: "Pragati Narrow", sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

canvas {
  margin: 20px;
  left: 10%;
  width: 97%;
  height: 1000px;
  text-align: center;
  /* border-style: solid;
  border-color: burlywood; */
  border-radius: 250px;
}

#me {
  font-size: 25pt;
  /* color: white; */
}

.navbar {
  position: relative;
  height: 40px;
}

.navbar li {
  list-style-type: none;
  padding: 0 10px;
}

.nav-menu {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #003366;
}

/* .sub2 {
  text-align: center;
  padding: 30px;
  font-size: 3vw;
  color: white;
} */

.about-container {
  /* background-image: url("portfolio_images/space2.jpg"); */
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-left: 15px;
  margin-right: 15px;
}

.about-title {
  text-align: center;
  font-size: 7vh;
  padding: 10px;
  color: white;
  background-clip: border-box;
}

.aboutPara {
  font-size: 4vh;
  color: white;
  word-wrap: normal;
}

.face {
  text-align: center;
}

.efa {
  text-align: center;
}
.efa:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.row {
  padding: 50px;
}

.projects_title {
  text-align: center;
  font-size: 7vh;
  color: #c83912;
  text-shadow: #e4b330 5px 7px 10px;
  padding-top: 130px;
}

.projects-container-fluid {
  color: black;
  background-image: url("portfolio_images/crash.jpg");
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
}

.projects {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: black 5px 7px 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.projects:hover .overlay1 {
  height: 100%;
}
.projects:hover .overlay2 {
  height: 100%;
}
.projects:hover .overlay3 {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contact_me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  color: white;
  font-size: 6vh;
}

.contact {
  color: white;
  background-color: black;
  background-size: cover;
  font-size: 4vh;
  text-align: center;
  border-radius: 130px 290px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #003366;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #0047ab;
  background-image: url("./portfolio_images/200.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  text-align: center;
  margin: 0px;
  padding: 5px;
  bottom: 100%;
  width: 100%;
  background-color: #222831;
  color: rgb(245, 239, 239);
}
#name {
  font-size: 3vh;
}
#credits {
  font-size: 2vh;
}
#footerList {
  list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

#weatherLink{
  cursor: not-allowed;
}